<h1> Hola <%=@name %> </h1>
<!--<a href="<%= welcome_path %>">Ir al Home</a> para referenciar un path es el prifix_path -->
<%= link_to "Ir-Home", welcome_path %><!-- hacen lo mismo, pero esta usa un helper -->
